/*Diseño General*/
*{
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
}

.row{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

html{
    background-color: #fff;
    color: rgb(62, 62, 62);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.content{
    padding: 85px 0 50px ;
}

/*Encabezados*/

.title,
.description{
    color: #fff;
    font-size: 2.5rem;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 20px;    
    word-spacing: 4px;
}

.description{
    font-size: 1.5rem;
}

.sub-title{
    font-size: 2rem;
    letter-spacing: 1px;
    margin-bottom: 30px;
    text-align: center;
    word-spacing: 2px;
}

.sub-title:after{
    background-color: rgb(15, 99, 167);
    content: "";
    display: block;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;    
    width: 400px;
}

/*Nav*/

/*Home Container*/

.header{
    background-image: linear-gradient(rgba(0,0,0,0.705), rgba(0,0,0,0.705)), url(../Images/background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.menu_top{
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 55px;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.logo{
    height: 70px;
}

.list-navegation{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.navegation-item{
    border-right: 1px solid rgba(255, 255, 255, 1);
    display: inline-block;
    padding: 0.5em 1em;
}

.navegation-item:nth-last-of-type(1){
    border: none;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 0.95rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    word-spacing: 3px;
}

nav ul li a:hover{
    border-bottom: 3px solid rgb(15, 99, 167);
}

.home-container{
    display: inline-block;
    margin-left: 50%;
    margin-top: 100px;
    width: /*900px;*/100vh;
    letter-spacing: 1px;
    word-spacing: 3px;
    transform: translate(-50%, 50%);
}

.btn-generic, input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    border: 2px solid rgb(15, 99, 167);
    color: white;
    margin-right: 5px;
    font-size: 20px;
    margin-bottom: 10px;
}

.btn-generic:hover, input[type=submit]:hover{
    background-color: rgb(15, 99, 167);
}

/*Section Description*/

.text-center
{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    text-align: center;
}

/*Sections Plans*/

.section-plans
{
    background-color: #f4f4f4;
}

.plan-content
{
    background-color: #fff;
    border-radius: 5px;
    width: 365px;
    margin-left: 5%;
    box-shadow: 0 2px 2px #efefef;
    text-align: center;
    margin: auto;
}

.plan-content div
{
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.btn-generic.btn
{
    color: black;
} 

.btn-generic.btn:hover,input[type=submit]:hover
{
    color: white;
}

.plan-price
{
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: rgb(15, 99, 167) ;
}

.plan-content ul
{
    list-style: none;
}

.plan-content ul li
{
    padding: 5px 0;
}

.proyects-image
{
    list-style: none;
    width: 100%;
}

.proyects-image li{
    display: block;
    float: left;
    width: 25%;
}

.photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.photo img{
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
}

.photo img:hover{
    opacity: 1;
    transform: scale(1.03);
}

.clearfix{
    zoom: 1;
}

.clearfix::after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*Comments-forms*/

.contact-form{
    width: 60%;
    margin: 0 auto;
}

input[type=text],input[type=email],select,textarea{
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

input[type=checkbox]{
    margin: 10px 5px 10px 0;
}

*:focus{
    outline: none;
}

input[type=submit]{
    color: black;
}

/*IMAGE-FOOTER*/

.section-img-footer{
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0,0,0,0.8)), url(/assets/Images/background.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/assets/Images/background.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

/*Footer*/

footer{
    background-color: rgb(31, 29, 29);
    padding: 30px;
    font-size: 80%;
}

.footer-nav{
    list-style: none;
    float: left;
}

.footer_up{
    list-style: none;
    text-align: center;
}

.footer_up li a img{
    width: 40px;
}

.footer_up li,
.footer_up li a,
.footer-nav li,
.footer-nav li a, 
.social-links li,
.social-links li a{
    display: inline-block;
    text-decoration: none;
    margin-right: 20px;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: color 0.2s;
    transition: 0.2s;
}

.social-links{
    float: right;
    list-style: none;
}

.footer-nav li a:hover,
.footer-nav li a:active{
    color: #ddd;
}  

.social-links li a:link,
.social-links li a:visited{
    font-size: 160%;
}

.fa-facebook-square{
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.fa-facebook-square:hover{
    color: #3b5998;
}

.fa-twitter:hover{
    color: #00aced;
}

.fa-google-plus-g:hover{
    color: #dd4b39;
}

.fa-instagram:hover{
    color: #517fa4;
}

/*Medias Queries*/

/*De 1024 A 1200*/
@media only screen and (max-width:1200px) {
    .home-container{
        width: 100%;
        padding: 0 2%;
    }
    .row{
        padding: 0 2%;
    }
}

/*De 768 A 1023*/
@media only screen and (max-width:1023px){
    body{
        font-size: 18px;
    }
    section{
        padding: 60px 0;
    }
    .text-center{
        width: 80%;
        margin-left: 10%;
    }
    .plan-content{
        width: 100%;
        margin-left: 0;
    }
    .plan-price{
        font-size: 250%;
    }
    .contact-form{
        width: 80%;
    }
}

/*De 481 a 767*/
@media only screen and (max-width:767px){
    body{
        font-size: 16px;
    }
    section{
        padding: 30px 0;
    }
    .row,
    .home-container{
        padding: 0 4%;
    }
    .col{
        width: 100%;
        margin: 0 0 4% 0;
    }
    h1{
        font-size: 100%;
    }
    h2{
        font-size: 150%;
    }
    .text-center{
        width: 100%;
        margin-left: 0%;
    }
}

/*Dispositivos moviles pequeños de 0 a 480px*/
@media only screen and (max-width:480px){
    section{
        padding: 25px 0;
    }
.home-container{
    margin-top: 140opx;
}
}